{% extends 'base.html.twig' %}

{% block title %}User Panel{% endblock %}

{% block bodyheader %}
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li>
                    <button type="button" class="button" data-toggle="offCanvas"><i class="fi-list"></i></button>
                </li>
                <li>
                    <img src="http://placehold.it/80x40&text=LOGO" alt="company logo">
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner is-open-left" data-off-canvas-wrapper>
            <div class="off-canvas position-left is-open" id="offCanvas" data-off-canvas>

                <!-- Close button -->
                <button class="close-button" aria-label="Close menu" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>

                <!-- Menu -->
                <ul class="vertical menu">
                    <li class="title">Menu</li>
                    <li><a href="/panel">Dashboard</a></li>
                    <li><a href="/profile">Profile</a></li>
                    {% block leftMenu %}{% endblock %}
                </ul>

            </div>

            <div class="off-canvas-content" data-off-canvas-content>
                {% block pageContent %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/dist/bundle.js') }}"></script>
{% endblock %}