<aside class="main-sidebar">
    <section class="sidebar">

        <ul class="sidebar-menu">
            <li class="header">Main Menu</li>
            <li><a href="/panel"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="/panel/profile"><i class="fa fa-user"></i> <span>Profile</span></a></li>

            {#<li class="header">Owner Menu</li>
            <li><a href="/panel/company"><i class="fa fa-building-o"></i> <span>Company</span></a></li>#}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="header">Admin Menu</li>
                <li><a href="/panel/company"><i class="fa fa-bus"></i> <span>Company</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_MANAGER') %}
                <li class="header">Manager Menu</li>
                <li><a href="/panel/fleets"><i class="fa fa-bus"></i> <span>Fleets</span></a></li>
                <li><a href="/panel/drivers"><i class="fa fa-users"></i> <span>Drivers</span></a></li>
                <li><a href="/panel/jobs"><i class="fa fa-tasks"></i> <span>Jobs</span></a></li>
                <li><a href="/panel/monitoring"><i class="fa fa-binoculars"></i> <span>Monitoring</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_DRIVER') %}
                <li class="header">Driver Menu</li>
                <li><a href="/panel/driver/job"><i class="fa fa-list"></i> <span>Jobs</span></a></li>
                <li><a href="/panel/driver/fleet"><i class="fa fa-car"></i> <span>Fleets</span></a></li>
                <li><a href="/panel/driver/status"><i class="fa fa-cloud"></i> <span>Online Status</span></a></li>
            {% endif %}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>