<section class="content-header">
    <h1>
        {% block pageHeading %}
        {% endblock %}
    </h1>
    <ol class="breadcrumb">
        {% block breadCrumb %}
        {% endblock %}
    </ol>
</section>